<div style="background:skybue;">
  <%= form_with(model: mee, local: true) do |f| %>
    <h2>問題解決フォーマット（精度アップ）</h2>
    <div> 必須
      <%= f.text_field :q_a,required: true %>月
        <%= f.text_field :q_b,required: true %>日　</div>
    <input id="acd-check1" class="acd-check" type="checkbox"> <label class="acd-label" for="acd-check1">【問題の箇所】</label>
    <div class="acd-content">
      <div class="box1">
        <%= f.text_area :q_1, placeholder: "（例）最終課題サーバーサイド",class:"q_a" %>
      </div>
    </div>
    <input id="acd-check2" class="acd-check" type="checkbox"> <label class="acd-label" for="acd-check2">【問題の内容】</label>
    <div class="acd-content">
      <div class="box1">
        <p>■ エラー画面のスクリーンショット <br>スクリーンショットを貼る</p>
        <%= f.text_area :q_2, placeholder: "text",class:"q_a" %>
      </div>
    </div>
    <input id="acd-check3" class="acd-check" type="checkbox"> <label class="acd-label" for="acd-check3">■ 問題に関するVScodeのファイル全体のスクリーンショット</label>
    <div class="acd-content">
      <div class="box1">
        <p>■ エラー画面のスクリーンショット <br>スクリーンショットを貼る</p>
        <%= f.text_area :q_3, placeholder: "text",class:"q_a" %>
        <%#実装予定%>
        <%#= image_tag mee.image.variant(resize: '500x500'), class: 'mee-image' if mee.image.attached? %>
        <%#= f.label :image, '画像' %>
        <%#= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
      </div>
    </div>
    <input id="acd-check4" class="acd-check" type="checkbox"> <label class="acd-label" for="acd-check4">■ 問題に関するターミナルやコンソールのスクリーンショット</label>
    <div class="acd-content">
      <div class="box1"> スクリーンショットを貼る
        <%= f.text_area :q_4, placeholder: "text",class:"q_a" %>
      </div>
    </div>
    <input id="acd-check5" class="acd-check" type="checkbox"> <label class="acd-label" for="acd-check5">■ 解決したいこと</label>
    <div class="acd-content">
      <div class="box1">
        <%= f.text_area :q_5, placeholder: "（例）クレジットカードを用いた購入機能を実装中。カード情報のトークン生成はできているが、トークン情報がパラメーターとして取れない。",class:"q_a" %>
      </div>
    </div>
    <input id="acd-check6" class="acd-check" type="checkbox"> <label class="acd-label" for="acd-check6">■ 調べた内容とそこから立てた仮説</label>
    <div class="acd-content">
      <div class="box1">
        <%= f.text_area :q_6, placeholder: "（例）公式リファレンスを参考に購入機能を実装してみたが、トークンが決済処理の値として取れずに決済ができない。",class:"q_a" %>
      </div>
    </div>
    <input id="acd-check7" class="acd-check" type="checkbox"> <label class="acd-label" for="acd-check7">■ 仮説を元に行った作業内容</label>
    <div class="acd-content">
      <div class="box1">
        <%= f.text_area :q_7, placeholder: "（例）コントローラーにbinding.pryを設け処理をとめた。何が受け取れているのかを確認したところ、トークンの受け取りは確認できなかった。",class:"q_a" %>
      </div>
    </div>


    <input id="acd-check8" class="acd-check" type="checkbox"> <label class="acd-label" for="acd-check8">■ カテゴリー</label>
    <div class="acd-content">
      <div class="box1">
        <ol>
          <li>実装予定</li>
          <li>未分類</li>
          <li>解決｜未解決</li>
          <li>フロントエンド</li>
          <li>バックエンド</li>
        </ol>
      </div>
    </div>
    <input id="acd-check9" class="acd-check" type="checkbox"> <label class="acd-label" for="acd-check9">■ タグ</label>
    <div class="acd-content">
      <div class="box1"> </div>
    </div>
  <div class="box2">
      <%= f.submit "作成する" ,class:"item3"%>
  </div>
  <% end %>
</div>