<div style="background:skyblue;">

  <h2>問題解決フォーマット（精度アップ）</h2>
  
<%= @mee.q_a%>月<%= @mee.q_b%>日



<h2>【問題の箇所】</h2>
<div class="box1"> 
<%= @mee.q_1 %></div>

<h2>【問題の内容】</h2>
<div class="box1"> 
<p>■ エラー画面のスクリーンショット
<br>スクリーンショットを貼る</p>
<%= @mee.q_2 %></div>

<h2>■ 問題に関するVScodeのファイル全体のスクリーンショット</h2>
<div class="box1"> 
スクリーンショットを貼る<%= @mee.q_3 %>
</div>

<h2>■ 問題に関するターミナルやコンソールのスクリーンショット</h2>
<div class="box1"> 
スクリーンショットを貼る<%= @mee.q_4 %>
</div>

<h2>■ 解決したいこと</h2>
<div class="box1"> 
<%= @mee.q_5 %>
</div>

<h2>■ 調べた内容とそこから立てた仮説</h2>
<div class="box1"> 
<%= @mee.q_6%>
</div>

<h2>■ 仮説を元に行った作業内容</h2>
<div class="box1"> 
<%= @mee.q_7 %></div>
<h2>カテゴリー</h2>
<div class="box1"> 
<ol>
<li>実装予定</li>
<li>未分類</li>
<li>解決｜未解決</li>
<li>フロントエンド</li>
<li>バックエンド</li>
</ol>

</div>
<h2>タグ</h2>
<div class="box1"> 
</div>
 </div>